* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Work Sans', sans-serif;
}

.nav-container {
    position: relative;
    position: fixed;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: white;

}

.navbar {
    display: flex;
}

.logo {
    width: 50%;
}

.logo a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.logo img {
    border-radius: 100%;
    width: 50px;
    margin-right: 10px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-grow: 1;
}

nav ul {
    display: flex;

}

nav ul li {
    display: flex;
    margin-right: 50px;
}

.navbar a {
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar a:hover {
    color: rgb(206, 34, 34);
    transition: all 0.2s ease-in-out;
}

/* ----------- title-container ------------- */
.title-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin-top: 50px;
    justify-content: center;
    align-items: center;

    background-image: url("img/background.avif");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-title {
    text-align: center;
    width: auto;
}

.content-title h1 {
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    animation: jum 1s 2;

}

@keyframes jum {
    0% {
        transform: translateY(0%);
        animation-timing-function: ease-in-out;
    }

    50% {
        transform: translateY(-100%);
        animation-timing-function: ease-in;
    }

    100% {
        transform: translateY(0%);
    }
}

.deital-title {
    max-width: 700px;
    font-size: 19px;
    color: white;
    margin: auto;
}

.content-title button {
    margin-top: 50px;
    padding: 15px;
    font-size: 20px;
    text-transform: uppercase;
    background-color: black;
    min-width: 250px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.content-title button a {
    text-decoration: none;
    letter-spacing: 2px;
    color: white
}

.content-title button:hover {
    background-color: rgb(99, 96, 96);
}


.about-me-container {
    display: flex;
    width: 100vw;
    height: 150px;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.about-me-titie {
    text-align: center;
}

.content-about-me {

    max-width: 750px;

}

.content-about-me h1 {
    text-transform: uppercase;
    font-size: 35px;
    margin-bottom: 20px;
}


/* -----------contact-buttom-right--------- */

.contact-buttom-right {
    display: flex;


    width: 60px;
    height: 110px;
    background-color: white;
}

.contact-buttom-right {
    display: flex;
    position: relative;
    top: 80%;
    left: 95%;

    position: fixed;
    text-align: center;
}


.contact-buttom-right>.item>a>img {
    width: 50px;
    height: 50px;

}

.contact-buttom-right>.item>a>img:hover {
    background-color: rgb(194, 188, 188);
    border: none;
    border-radius: 5px;
}

/* --------------- Get-to-know-me-container-------------- */
.Get-to-know-me-container {
    display: flex;
    margin: 0 80px;
}


.item-getme,
.title-skills {
    max-width: 50%;
    padding: 10px;
    font-size: 18px;
    line-height: 1.9rem;
}

.item-getme button {
    margin: 50px 0;
    background-color: black;
    padding: 15px;
    font-size: 20px;
    min-width: 250px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.item-getme button>a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;

}

.item-getme button:hover {
    background-color: rgb(99, 96, 96);
    transition: all 0.2s ease-in-out;
}

.title-skills span {
    display: flex;
    color: #666677;
    background-color: #E7E7E7;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    padding: 10px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.title-skills span:hover {
    color: rgb(206, 34, 34);
    font-weight: bold;
    transition: all 0.2s ease-in-out;
}